<ul>
	<li>
		First item
		<form action="" method="post">
			<button type="submit">Mark as done</button>
		</form>
	</li>
	<li>
		Second item
		<form action="" method="post">
			<button type="submit">Mark as done</button>
		</form>
	</li>
</ul>

<!-- information shown when the list is empty -->
<div>There are no items in the list.</div>

<!-- form for adding new item -->
<form action="" method="post">
	<input type="text" name="title">
	<button type="submit">Add item</button>
</form>

<!-- link to the About Me page -->
<a href="/about">About Me</a>